
.movie {
  display: flex;
}

.movie .movie-poster {
  width: 20%;
}

.movie .movie-info {
  padding: 5px;
  width: 80%;
}

.movie .movie-poster img{
  width: 100%;
}

.movie .genres {
  display: flex;
}

.movie .genres>div {
  border: 1px solid;
  border-radius: 16px;
  padding: 4px 10px;
  margin-right: 8px;
}